@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Poppins', sans-serif;
    }
}

.app {
  display: flex;
  height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.navbar-logo {
  font-size: 24px;
  margin-bottom: 20px;
}

.navbar-menu {
  list-style: none;
  padding: 0;
  flex-grow: 1;
}

.navbar-menu li {
  margin: 10px 0;
}

.navbar-menu li a {
  color: #fff;
  text-decoration: none;
}

.navbar-menu li a:hover {
  text-decoration: underline;
}

.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.home-container {
  padding: 20px;
  background-color: #1E3A8A; /* TailwindCSS 색상 클래스 bg-blue-900에 해당 */
  border-radius: 8px;
  color: white; /* 텍스트 색상을 흰색으로 변경 */
}
